/backend/.git
/backend/.idea
/backend/build
/backend/my_env
/backend/.gitignore
.idea
.vscode
/class-based-app/node_modules
/class-based-app/.pnp
/class-based-app/.pnp.js
/class-based-app/coverage
/class-based-app/.DS_Store
/class-based-app/.env.local
/class-based-app/.env.development.local
/class-based-app/.env.test.local
/class-based-app/.env.production.local

/class-based-app/npm-debug.log*
/class-based-app/yarn-debug.log*
/class-based-app/yarn-error.log*
